{# templates/bundles/TeknooEastPaasBundle/views/User/Jwt.html.twig #}

{% extends '@TeknooSpace/dashboard.form.html.twig' %}

{% block title %}{{ 'teknoo.space.title.user.jwt'|trans }} - {% endblock %}

{% block instanceMainTitle %}<i class="uil uil-user"></i> {{ 'teknoo.space.title.user.jwt'|trans }}{% endblock %}

{% block breadcrumbListLink %}{{ path('space_my_settings_token') }}{% endblock %}
{% block breadcrumFormTitle %}{{ 'teknoo.space.title.user.jwt'|trans }}{% endblock %}
{% block breadcrumInstanceTitle %}{{ space.user }}{% endblock %}

{% block crudFormFields %}
    <div class="row">
        {{ form_row(formView.expirationDate, {"centerRow": true}) }}
    </div>
{% endblock %}
