{# templates/bundles/TeknooEastPaasBundle/AdminProject/edit.html.twig #}

{% extends '@TeknooSpace/dashboard.form.html.twig' %}

{% block title %}{{ 'teknoo.space.title.admin_project.edit'|trans }} : {{ objectInstance }} - {% endblock %}

{% block instanceMainTitle %}<i class="uil uil-trowel"></i> {{ 'teknoo.space.title.admin_project.edit'|trans }} : {{ objectInstance }}{% endblock %}

{% block breadcrumbListLink path('_teknoo_paas_admin_project_list') %}
{% block breadcrumFormTitle %}{{ 'teknoo.space.title.admin_project.edit'|trans }}{% endblock %}
{% block breadcrumInstanceTitle %}{{ objectInstance }}{% endblock %}

{% block crudFormFields %}
    <div class="row">
        {{ form_row(formView.project.name, {"largeRow": true}) }}
        {{ form_row(formView.projectMetadata.projectUrl) }}
        {{ form_row(formView.project.prefix) }}
    </div>
    <div class="row">
        <div class="col-12"><h3>{{ 'teknoo.space.title.git'|trans }}</h3></div>
        {{ form_row(formView.project.sourceRepository.pullUrl, {"largeRow": true}) }}
        {{ form_row(formView.project.sourceRepository.defaultBranch) }}
        {{ form_row(formView.project.sourceRepository.identity.name) }}
        {{ form_row(formView.project.sourceRepository.identity.privateKey, {"largeRow": true}) }}
    </div>
    <div class="row">
        <div class="col-12"><h3>{{ 'teknoo.space.title.image_builder'|trans }}</h3></div>
        {{ form_row(formView.project.imagesRegistry.apiUrl) }}
        {{ form_row(formView.project.imagesRegistry.identity.auth) }}
        {{ form_row(formView.project.imagesRegistry.identity.username) }}
        {{ form_row(formView.project.imagesRegistry.identity.password) }}
    </div>
    <div class="row subforms" data-subforms="clusters" data-prototype="{{ form_widget(formView.project.clusters.vars.prototype)|e('html_attr') }}">
        <div class="col-12">
            <h3>{{ 'teknoo.space.title.clusters'|trans }}</h3>
        </div>
        {% for cluster in formView.project.clusters %}
            {{ form_widget(cluster, {"largeRow": true}) }}
        {% endfor %}
    </div>
    {% do formView.project.clusters.setRendered %}
{% endblock %}

{% block addsFormButton %}
    <button type="button" data-subforms-id="clusters" class="btn btn-outline-secondary btn-full-large btn-block btn-add-subform mb-2">
        <i class="uil uil-focus-add"></i>
        {{ 'teknoo.space.action.add_cluster'|trans }}
    </button>
{% endblock %}

{% block btnExtraBottom %}
    <div class="widget mt-2 mb-2 pb-2">
        <h5 class="widget-title">{{ 'teknoo.space.text.project_actions'|trans }}</h5>
        <a href="{{ path('space_project_edit_refresh_credentials', {'id':objectInstance.id}) }}" class="btn btn-outline-dark btn-full-large btn-block mb-2">
            <i class="uil uil-refresh"></i>
            {{ 'teknoo.space.action.project_refresh'|trans }}
        </a>
        <a href="{{ path('space_project_edit_variables', {'id':objectInstance.id}) }}" class="btn btn-outline-dark btn-full-large btn-block mb-2">
            <i class="uil uil-setting"></i>
            {{ 'teknoo.space.action.persisted_vars'|trans }}
        </a>
        <a href="{{ path('space_job_list', {'projectId':objectInstance.id}) }}" class="btn btn-outline-dark btn-full-large btn-block mb-2">
            <i class="uil uil-list-ul"></i>
            {{ 'teknoo.space.action.jobs'|trans }}
        </a>
        <a href="{{ path('space_admin_new_job', {'projectId':objectInstance.id}) }}" class="btn btn-success btn-full-large btn-block">
            <i class="uil uil-play"></i>
            {{ 'teknoo.space.action.start_job'|trans }}
        </a>
    </div>
{% endblock %}