{# templates/bundles/TeknooEastPaasBundle/AdminProject/list.html.twig #}

{% extends '@TeknooSpace/dashboard.list.html.twig' %}

{% set formClass = 'Teknoo\\Space\\Infrastructures\\Symfony\\Form\\Type\\Search\\ProjectSearchType' %}

{% import '@TeknooSpace/Functions/utils.html.twig' as utils %}

{% block title %}{{ 'teknoo.space.title.admin_project'|trans }} - {% endblock %}

{% block listTitle %}<i class="uil uil-trowel"></i> {{ 'teknoo.space.title.admin_project'|trans }}{% endblock %}

{% block breadcrumbListLink %}{{ path('_teknoo_paas_admin_project_list') }}{% endblock %}
{% block breadcrumbListTitle %}{{ 'teknoo.space.title.admin_project'|trans }}{% endblock %}

{% block listTableHeader %}
    <thead class="bg-light">
    <tr>
        <th scope="col" class="border-bottom text-start">#</th>
        <th scope="col" class="border-bottom">
            <a class="text-primary"
               href="{{ path('_teknoo_paas_admin_project_list') }}{{ utils.orderUrl(queryParams, 'name') }}">
                {{ 'teknoo.space.text.admin_cols_project_name'|trans }}
            </a>
        </th>
        <th scope="col" class="border-bottom">
            <a class="text-primary"
               href="{{ path('_teknoo_paas_admin_project_list') }}{{ utils.orderUrl(queryParams, 'account') }}">
                {{ 'teknoo.space.text.admin_cols_project_account'|trans }}
            </a>
        </th>
        <th scope="col" class="border-bottom">
            <a class="text-primary"
               href="{{ path('_teknoo_paas_admin_project_list') }}{{ utils.orderUrl(queryParams, 'createdAt') }}">
                {{ 'teknoo.space.text.admin_cols_project_created_at'|trans }}
            </a>
        </th>
        <th scope="col" class="border-bottom">
            <a class="text-primary"
               href="{{ path('_teknoo_paas_admin_project_list') }}{{ utils.orderUrl(queryParams, 'updatedAt') }}">
                {{ 'teknoo.space.text.admin_cols_project_updated_at'|trans }}
            </a>
        </th>
        <th scope="col" class="border-bottom text-end">
            {{ 'teknoo.space.text.admin_cols_project_action'|trans }}
        </th>
    </tr>
    </thead>
{% endblock %}

{% block listTableEmpty %}
    <tr>
        <td colspan="6">{{ 'teknoo.space.text.admin_project_no_entries'|trans }}</td>
    </tr>
{% endblock %}

{% block listTableRow %}
    <tr {% if loop.index is even %}class="table-row-even" {% else %}class="table-row-odd"{% endif %}>
        <td>{{ object.id|slice(0, 6) }}</td>
        <td>
            <a class="text-primary"
               href="{{ path('_teknoo_paas_admin_project_edit', {'id':object.id}) }}"
               title="{{ 'teknoo.space.action.edit_project'|trans }}">
                {{ object.project }}
            </a>
        </td>
        <td>
            <a class="text-primary"
               href="{{ path('_teknoo_paas_admin_account_edit', {'id':object.project.account.id}) }}"
               title="{{ 'teknoo.space.action.edit_account'|trans }}">
                {{ object.project.account }}
            </a>
        </td>
        <td>{{ object.project.createdAt|date('Y M d H:i:s') }}</td>
        <td>{{ object.project.updatedAt|date('Y M d H:i:s') }}</td>
        <td class="text-end">
            <a class="text-primary"
               href="{{ path('_teknoo_paas_admin_project_edit', {'id':object.id}) }}"
               title="{{ 'teknoo.space.action.edit_project'|trans }}">
                <span class="mdi mdi-pencil"></span>
            </a>
            <a class="text-primary"
               href="{{ path('space_admin_job_new', {'projectId':object.id}) }}"
               title="{{ 'teknoo.space.action.start_job'|trans }}">
                <span class="mdi mdi-shape-circle-plus"></span>
            </a>
            <a class="text-primary"
               onclick="confirm('{{ 'teknoo.space.text.confirm_delete'|trans }}');"
               href="{{ path('_teknoo_paas_admin_project_delete', {'id':object.id}) }}"
               title="{{ 'teknoo.space.action.delete_project'|trans }}">
                <span class="mdi mdi-trash-can"></span>
            </a>
        </td>
    </tr>
{% endblock %}
