{# templates/TeknooSpace/AccountCluster/new.html.twig #}

{% extends '@TeknooSpace/dashboard.form.html.twig' %}

{% block title %}{{ 'teknoo.space.title.account.account_cluster.new'|trans }} - {% endblock %}

{% block instanceMainTitle %}<i class="uil uil-data-sharing"></i> {{ 'teknoo.space.title.account.account_cluster.new'|trans }}{% endblock %}

{% block breadcrumFormTitle %}{{ 'teknoo.space.title.account.account_cluster.new'|trans }}{% endblock %}
{% block breadcrumbListLink path('space_account_clusters_list', {'accountId': account.id}) %}
{% block breadcrumInstanceTitle %}{{ 'teknoo.space.title.new'|trans }}{% endblock %}

{% block crudFormFields %}
    <div class="row">
        {{ form_row(formView.name) }}
        {{ form_row(formView.slug) }}
        {{ form_row(formView.type) }}
        {{ form_row(formView.masterAddress) }}
        {{ form_row(formView.storageProvisioner) }}
        {{ form_row(formView.dashboardAddress) }}
        {{ form_row(formView.caCertificate, {"largeRow": true}) }}
        {{ form_row(formView.token, {"largeRow": true}) }}
        {{ form_row(formView.registryUrl, {"largeRow": true}) }}
        {{ form_row(formView.supportRegistry) }}
        {{ form_row(formView.useHnc) }}
    </div>
{% endblock %}
