{# templates/bundles/TeknooEastPaasBundle/views/Account/index.html.twig #}

{% extends '@TeknooSpace/dashboard.layout.html.twig' %}

{% block title %}{{ 'teknoo.space.title.login'|trans }} - {% endblock %}

{% block bodyClass '' %}

{% block pageWrapper %}
    {#  Hero Start  #}
    <section class="bg-home bg-circle-gradiant d-flex align-items-center">
    <div class="bg-overlay bg-overlay-white"></div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="form-signin p-4 bg-white rounded shadow">
                        {% set authenticationError = authenticationUtils.getLastAuthenticationError(true) %}
                        <form action="{{ path('account_check') }}" method="post" class="">
                            <a href="{{ path('space_dashboard') }}"><img src="images/logo-dark.svg" class="avatar avatar-login d-block mx-auto" alt="Teknoo Space"></a>
                            <h5 class="mb-3 text-center">{{ 'teknoo.space.text.login'|trans }}</h5>
                            {% if authenticationError %}
                                <div class="alert bg-soft-danger fw-medium space-form-error" role="alert">
                                    <i class="uil uil-exclamation-octagon fs-5 align-middle me-1"></i> <span id="login-error">{{ authenticationError.message|trans }}</span>
                                </div>
                            {% endif %}
                            <div class="form-floating mb-2">
                                <input type="text" name="_username"  id="_username" class="form-control" id="floatingInput" placeholder="{{ 'teknoo.space.text.your_email'|trans }}">
                                <label for="floatingInput">{{ 'teknoo.space.text.your_email'|trans }}</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" name="_password" id="_password" class="form-control" id="floatingPassword" placeholder="{{ 'teknoo.space.text.password'|trans }}">
                                <label for="floatingPassword">{{ 'teknoo.space.text.password'|trans }}</label>
                            </div>

                            <div class="d-flex justify-content-between">
                                <div class="mb-3">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="_remember_me" name="_remember_me">
                                        <label class="form-check-label" for="_remember_me">{{ 'teknoo.space.text.remember_me'|trans }}</label>
                                    </div>
                                </div>
                                <p class="forgot-pass mb-0"><a href="reset-password.html" class="text-dark small fw-bold">{{ 'teknoo.space.action.forgot_password'|trans }}</a></p>
                                <p class="forgot-pass mb-0"><a href="{{ path('space_subscription') }}" class="text-dark small fw-bold">{{ 'teknoo.space.action.subscribe'|trans }}</a></p>
                            </div>

                            <button class="btn btn-primary w-100 text-center" type="submit">{{ 'teknoo.space.action.sign_in'|trans }}</button>

                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
                        </form>
                    </div>{# end form #}
                </div> {# end col #}
            </div>{# end row #}
        </div> {# end container #}
    </section>{# end section #}
    {#  Hero End  #}
{% endblock %}{# main #}