{# templates/bundles/TeknooEastCommonBundle/2fa/enabling.html.twig #}

{% extends '@TeknooSpace/dashboard.form.html.twig' %}

{% block title %}{{ 'teknoo.space.title.user.2fa'|trans }} - {% endblock %}

{% block instanceMainTitle %}<i class="ti ti-lock"></i> {{ 'teknoo.space.title.user.2fa'|trans }}{% endblock %}

{% block breadcrumbListLink %}{{ path(space_2fa_route_finder(app.user, 'enable')) }}{% endblock %}
{% block breadcrumbFormTitle %}{{ 'teknoo.space.title.user.2fa'|trans }}{% endblock %}
{% block breadcrumInstanceTitle %}{{ space.user }}{% endblock %}

{% block formParentBlock %}
    <div class="row">
        <div class="col-3 mt-4 mt-lg-0 pt-2 pt-lg-0">
            <div class="card border-0 sidebar sticky-bar rounded shadow bg-white">
                <div class="card-body">
                    {% block btnExtra '' %}
                    <div class="widget">
                        <h5 class="widget-title">{{ 'teknoo.space.text.submit_block'|trans }}</h5>
                        {% block formButton %}
                            {% block addsFormButton '' %}
                            <a href="{{ path('space_my_settings') }}"
                               class="btn btn-primary btn-full-large mb-2 text-left">
                                <i class="ti ti-settings"></i>
                                {{ 'teknoo.space.action.my-settings'|trans }}
                            </a>
                            {% block addsFormButtonBottom '' %}
                        {% endblock %}
                    </div>
                    {% block btnExtraBottom '' %}
                </div>
            </div>
        </div>{# end col #}
        <div class="col-9">
            <div class="card">
                <div class="card-body" d>
                    <table class="table card-text">
                        <tbody>
                        <tr>
                            <th scope="row">{{ 'teknoo.space.text.2fa.provider'|trans }}</th>
                            <td>{{ ('teknoo.space.text.2fa.provider.' ~ totpAuth.provider)|trans }}</td>
                        </tr>
                        <tr>
                            <th scope="row">{{ 'teknoo.space.text.2fa.algorithm'|trans }}</th>
                            <td>{{ totpAuth.algorithm }}</td>
                        </tr>
                        <tr>
                            <th scope="row">{{ 'teknoo.space.text.2fa.enabled'|trans }}</th>
                            <td>{% if totpAuth.enabled %}Yes{% else %}No{% endif %}</td>
                        </tr>
                        <tr>
                            {% if false == totpAuth.enabled %}
                                <th scope="row">QRCode</th>
                                <td class="text-center">
                                    <img src="{{ path(space_2fa_route_finder(app.user, 'qrcode')) }}" alt="QRCode">
                                    {% form_theme formView with [
                                        'bootstrap_5_layout.html.twig',
                                        '@TeknooSpace/fields.html.twig'
                                    ] %}
                                    {{ form_start(
                                        formView, {
                                            "attr": {
                                                "class":"form-horizontal",
                                                "action": path(space_2fa_route_finder(app.user, 'validate'))
                                            }
                                        }) }}
                                    {{ form_errors(formView) }}
                                    <div class="d-flex justify-content-center">
                                        <div class="row">
                                            <div class="col-6">
                                                {{ form_row(
                                                    formView.code, {
                                                        'label': 'Validation code',
                                                        'row_attr': {
                                                            'class': 'form-floating'
                                                        },
                                                        'largeRow': true
                                                    }) }}
                                            </div>
                                            <div class="col-6 align-self-center">
                                                <input type="submit"
                                                       class="btn btn-primary"
                                                       name="validate"
                                                       value="{{ 'teknoo.space.action.2fa.validate'|trans }}">
                                            </div>
                                        </div>
                                    </div>
                                    {{ form_end(formView) }}
                                </td>
                            {% else %}
                                <th scope="row">Disabled</th>
                                <td>
                                    <a href="{{ path(space_2fa_route_finder(app.user, 'disable')) }}"
                                       class="btn btn-danger">
                                        {{ 'teknoo.space.action.2fa.disable'|trans }}
                                    </a>
                                </td>
                            {% endif %}
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
