{# templates/bundles/TeknooEastCommonBundle/2fa/enabling.html.twig #}

{% extends '@TeknooSpace/dashboard.form.html.twig' %}

{% block formTitle %}{{ 'teknoo.space.title.user.2fa'|trans }}{% endblock %}
{% block listLink %}{{ path('_teknoo_common_2fa_google_enable') }}{% endblock %}
{% block instanceMainTitle %}<i class="uil uil-user"></i> {{ 'teknoo.space.title.user.2fa'|trans }}{% endblock %}
{% block instanceTitle %}{{ space.user }}{% endblock %}

{% block formParentBlock %}
    <div class="row">
        <div class="col-3 mt-4 mt-lg-0 pt-2 pt-lg-0">
            <div class="card border-0 sidebar sticky-bar rounded shadow bg-white">
                <div class="card-body">
                    {% block btnExtra '' %}
                    <div class="widget">
                        <h5 class="widget-title">{{ 'teknoo.space.text.submit_block'|trans }}</h5>
                        {% block formButton %}
                            {% block addsFormButton '' %}
                            <a href="{{ path('space_my_settings') }}"
                               class="btn btn-primary btn-full-large btn-block mb-2 text-left">
                                <i class="ti ti-settings"></i>
                                {{ 'teknoo.space.action.my-settings'|trans }}
                            </a>
                            {% block addsFormButtonBottom '' %}
                        {% endblock %}
                    </div>
                    {% block btnExtraBottom '' %}
                </div>
            </div>
        </div>{# end col #}
        <div class="col-9">
            <div class="card">
                <div class="card-body"d>
                    <table class="table card-text">
                        <tbody>
                        <tr>
                            <th scope="row">Provider</th>
                            <td>{{ totpAuth.provider }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Algorithm</th>
                            <td>{{ totpAuth.algorithm }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Enable</th>
                            <td>{% if totpAuth.enabled %}Yes{% else %}No{% endif %}</td>
                        </tr>
                        <tr>
                            {% if false == totpAuth.enabled %}
                            <th scope="row">QRCode</th>
                            <td class="text-center">
                                <img src="{{ path('_teknoo_common_2fa_google_qrcode') }}" alt="QRCode"/>
                                {% form_theme formView with ['bootstrap_4_layout.html.twig'] %}
                                {{ form_start(formView, {"attr":{"class":"form-horizontal", "action": path('_teknoo_common_2fa_google_validate')}}) }}
                                {{ form_errors(formView) }}
                                <div class="d-flex justify-content-center">
                                    <div class="row">
                                        <div class="col-6">
                                        {{ form_row(formView.code, {'label': 'Validation code', 'row_attr': {'class': 'form-floating',}}) }}
                                        </div>
                                        <div class="col-6">
                                        <input type="submit" class="btn btn-primary" name="validate" value="{{ 'teknoo.space.action.2fa.validate'|trans }}" />
                                        </div>
                                    </div>
                                </div>
                                {{ form_end(formView) }}
                            </td>
                            {% else %}
                                <th scope="row">Disabled</th>
                                <td>
                                    <a href="{{ path('_teknoo_common_2fa_google_disable') }}" class="btn btn-danger">{{ 'teknoo.space.action.2fa.disable'|trans }}</a>
                                </td>
                            {% endif %}
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
