{# templates/bundles/TeknooEastPaasBundle/dashboard.layout.html.twig #}
{% block html %}
<!doctype html>
<html lang="{{ locale|default('en') }}">
    {% block head %}
    <head>
        <base href="{{ app.request.getSchemeAndHttpHost() }}" />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="{% block description '' %}">
        <meta name="keywords" content="{% block keywords '' %}">
        {% if app.environment != 'dev'  %}
            <meta http-equiv="Content-Security-Policy" content="object-src 'none'; script-src 'nonce-{{ space_nonce() }}';">
        {% endif %}

        <title>{% block title %}{% endblock %}{{ 'teknoo.space.text.title'|trans }}</title>
        {% block favicon_icon %}
        <link rel="shortcut icon" href="favicon.ico">
        {% endblock %}{# favicon_icon #}

        {% block bootstrap %}
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        {% endblock %}{# bootstrap #}

        {% block main_icons %}
        {#  Icons  #}
        <link href="libs/@mdi/font/css/materialdesignicons.min.css" rel="stylesheet" type="text/css">
        <link href="css/icons.min.css" rel="stylesheet" type="text/css" />
        <link href="libs/@iconscout/unicons/css/line.css" type="text/css" rel="stylesheet" />
        {% endblock %}{# main_icons #}

        {% block main_css %}
        <link href="css/style.min.css" class="theme-opt" rel="stylesheet" type="text/css" />
        <link href="css/colors/default.css" rel="stylesheet" id="color-opt">
        <link href="css/space.css" rel="stylesheet" />
        {% endblock %}{# main_css #}
    </head>
    {% endblock %}{# html #}
    {% block body %}
    <body class="{% block bodyClass '' %}">
        {% block pageWrapper %}
        <div class="page-wrapper toggled">
            {% block leftMenu %}
            {% if app.user is not empty %}
            {% include '@TeknooEastPaas/Parts/dashboard.menu.html.twig' %}
            {% endif %}
            {% endblock %}{# leftMenu #}

            {% block main %}
                <main class="page-content bg-light">
                    {% block topHeader %}
                    <div class="top-header">
                        <div class="header-bar d-flex justify-content-between border-bottom">
                            <div class="d-flex align-items-center">
                                <a href="#" class="logo-icon me-3">
                                    <img src="images/logo-light.svg" height="30" class="small" alt="">
                                    <span class="big">
                                    <img src="images/logo-dark.svg" height="24" class="logo-light-mode" alt="">
                                    <img src="images/logo-light.svg" height="24" class="logo-dark-mode" alt="">
                                </span>
                                </a>
                                <a id="close-sidebar" class="btn btn-icon btn-soft-light" href="javascript:void(0)">
                                    <i class="ti ti-menu-2"></i>
                                </a>
                                {% block topHeaderSearchBar '' %}
                            </div>

                            {% block topHeaderUser %}
                            {% if app.user is not empty %}
                            <ul class="list-unstyled mb-0">
                                {% block topHeaderButton '' %}
                                <li class="list-inline-item mb-0 ms-1">
                                    <div class="dropdown dropdown-primary">
                                        <button type="button" class="btn btn-soft-light dropdown-toggle p-0" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            {% if space.user is defined and space.user.userData is defined and space.user.userData.picture is not empty %}
                                                <img src="{{ path('_teknoo_common_media', {"id": space.user.userData.picture.id}) }}" class="avatar avatar-ex-small rounded" alt="{{ space.user.user }}">
                                            {% else %}
                                                <img src="images/icon/user.svg" class="avatar avatar-ex-small rounded" alt="{{ space.user.user }}">
                                            {% endif %}
                                        </button>
                                        <div class="dropdown-menu dd-menu dropdown-menu-end bg-white shadow border-0 mt-3 py-3" style="min-width: 200px;">
                                            <a class="dropdown-item d-flex align-items-center text-dark pb-3" hreflang="{{ locale }}" href="{{ path('space_my_settings') }}">
                                                {% if space.user is defined and space.user.userData is defined and space.user.userData.picture is not empty %}
                                                    <img src="{{ path('_teknoo_common_media', {"id": space.user.userData.picture.id}) }}" class="avatar avatar-md-sm rounded-circle border shadow" alt="{{ space.user.user }}">
                                                {% else %}
                                                    <img src="images/icon/user.svg" class="avatar avatar-ex-small rounded" alt="{{ space.user.user }}">
                                                {% endif %}
                                                <div class="flex-1 ms-2">
                                                    <span class="d-block" id="space-user-name">{{ app.user.wrappedUser }}</span>
                                                    {% if space.account is defined and space.account is not empty %}
                                                    <small class="text-muted" id="space-account-name">{{ space.account }}</small>
                                                    {% endif %}
                                                </div>
                                            </a>
                                            <a class="dropdown-item text-dark" hreflang="{{ locale }}" href="{{ path('space_dashboard') }}"><span class="mb-0 d-inline-block me-1"><i class="ti ti-home"></i></span> {{ 'teknoo.space.action.dashboard'|trans }}</a>
                                            <a class="dropdown-item text-dark" hreflang="{{ locale }}" href="{{ path('space_my_settings') }}"><span class="mb-0 d-inline-block me-1"><i class="ti ti-settings"></i></span> {{ 'teknoo.space.action.my-settings'|trans }}</a>
                                            <a class="dropdown-item text-dark" hreflang="{{ locale }}" href="{{ path('_teknoo_common_2fa_google_enable') }}"><span class="mb-0 d-inline-block me-1"><i class="ti ti-settings"></i></span> {{ 'teknoo.space.action.2fa'|trans }}</a>
                                            {% if space.account is defined and space.account is not empty %}
                                            <a class="dropdown-item text-dark" hreflang="{{ locale }}" href="{{ path('space_account_settings') }}"><span class="mb-0 d-inline-block me-1"><i class="ti ti-settings"></i></span> {{ 'teknoo.space.action.account-settings'|trans }}</a>
                                            {% endif %}
                                            <div class="dropdown-divider border-top"></div>
                                            <a class="dropdown-item text-dark" hreflang="{{ locale }}" href="{{ path('account_logout') }}"><span class="mb-0 d-inline-block me-1"><i class="ti ti-logout"></i></span> {{ 'teknoo.space.action.logout'|trans }}</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            {% endif %}
                            {% endblock %}{# topHeaderUser #}
                        </div>
                    </div>
                    {% endblock %}{# topHeader #}

                    {% block containerFluid %}
                    <div class="container-fluid">
                        {% block containerFluidInner '' %}
                    </div>
                    {% endblock %}{# containerFluid #}

                    {% block footer %}
                    <footer class="bg-white shadow py-3">
                        <div class="container-fluid">
                            <div class="row align-items-center">
                                <div class="col">
                                    <div class="text-sm-start text-center">
                                        <p class="mb-0 text-muted">© <script nonce="{{ space_nonce() }}">document.write(new Date().getFullYear())</script> Space by <a href="https://teknoo.software" hreflang="{{ locale }}" title="Go to editor"><img src="images/logo-dark-teknoo.svg" height="14" alt="Teknoo Sofware"></a>.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </footer>
                    {% endblock %}{# endfooter #}
                </main>
            {% endblock %}
        </div>
        {% endblock %}{# pageWrapper #}

        {% block javascript %}
        <script src="libs/bootstrap/js/bootstrap.bundle.min.js" nonce="{{ space_nonce() }}"></script>
        <script src="libs/feather-icons/feather.min.js" nonce="{{ space_nonce() }}"></script>
        <script src="libs/simplebar/simplebar.min.js" nonce="{{ space_nonce() }}"></script>
        <script src="js/app.js" nonce="{{ space_nonce() }}"></script>
        {% block javascript_additonals '' %}
        {% endblock %}{# javascript #}
    </body>
    {% endblock %}{# body #}
</html>
{% endblock %}{# html #}