{# templates/bundles/TeknooEastPaasBundle/Job/get.html.twig #}

{% extends '@TeknooSpace/dashboard.layout.html.twig' %}

{% block containerFluidInner %}
    <div class="layout-specing">
        <div class="d-md-flex justify-content-between align-items-center mb-3">
            <h5 class="mb-0"><i class="uil uil-drill"></i> {{ 'teknoo.space.title.job.pending'|trans }}</h5>

            <nav aria-label="breadcrumb" class="d-inline-block mt-2 mt-sm-0">
                <ul class="breadcrumb bg-transparent rounded mb-0 p-0">
                    <li class="breadcrumb-item text-capitalize"><a href="{{ path('space_dashboard') }}">{{ 'teknoo.space.text.space'|trans }}</a></li>
                    <li class="breadcrumb-item text-capitalize"><a href="{% if is_granted('ROLE_ADMIN') %}{{ path('_teknoo_paas_admin_project_list') }}{% else %}{{ path('space_project_list') }}{% endif %}">{{ 'teknoo.space.title.project.edit'|trans }}</a></li>
                    {% if app.request.get('projectId', 0) > 0 %}
                    <li class="breadcrumb-item text-capitalize"><a href="{{ path('space_project_edit', {'id': app.request.get('projectId')}) }}">{{ app.request.get('projectName') }}</a></li>
                    {% endif %}
                    <li class="breadcrumb-item text-capitalize active" aria-current="page"><i class="uil uil-drill"></i> {{ 'teknoo.space.title.job.new'|trans }}</li>
                </ul>
            </nav>
        </div>
        <div class="row">
            <div class="col-12" id="text-pending">
                <div class="d-flex align-items-center justify-content-center mt-5">
                    <img src="images/icon/clock.svg" alt="Pending job"/>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript_additonals %}
  {% set newJobId = app.request.attributes.get('newJobId') %}
  <script nonce="{{ space_nonce() }}">
    {% if mercureEnabled %}
    const eventSource = new EventSource(
      "{{
        mercure(
            url('space_job_new_pending', {'newJobId': newJobId }),
            {
                'lastEventId': newJobId,
                'subscribe': mercureUrl
            }
        )|escape('js') }}"
    );

    eventSource.onmessage = event => {
      result = JSON.parse(event.data);
      if ("error_code" in result) {
        console.log(event.data);
        document.getElementById('text-pending').innerHTML = '<div class="alert alert-danger" role="alert">' + result.error_message + '</div>';
      } else {
        document.location = result.job_url;
      }
    }
    {% endif %}
  </script>
{% endblock %}