{# templates/TeknooSpace/dashboard.form.html.twig #}

{% extends '@TeknooSpace/dashboard.layout.html.twig' %}

{% import '@TeknooSpace/Functions/url.html.twig' as functions %}

{% block containerFluidInner %}
    <div class="layout-specing">
        <div class="d-md-flex justify-content-between align-items-center mb-3">
            <h5 class="mb-0">{% block instanceMainTitle '' %}</h5>

            <nav aria-label="breadcrumb" class="d-inline-block mt-2 mt-sm-0">
                <ul class="breadcrumb bg-transparent rounded mb-0 p-0">
                    <li class="breadcrumb-item text-capitalize">
                        <a href="{{ path('space_dashboard') }}">{{ 'teknoo.space.text.space'|trans }}
                        </a>
                    </li>
                    <li class="breadcrumb-item text-capitalize">
                        <a href="{% block breadcrumbListLink '#' %}">{% block breadcrumFormTitle '' %}</a>
                    </li>
                    {% block breadcrumbAddsItems '' %}
                    <li class="breadcrumb-item text-capitalize active" aria-current="page">
                        {% block breadcrumInstanceTitle '' %}
                    </li>
                </ul>
            </nav>
        </div>

        {% block formParentBlock %}
            {% set locale = app.request.get('locale', 'en') %}
            {% if formView is defined %}
                {% form_theme formView with ['bootstrap_5_layout.html.twig', '@TeknooSpace/fields.html.twig'] %}
                {% if formActionRoute is defined and formActionRoute is not empty %}
                    {% set formAction = path(formActionRoute, formActionRouteParams) %}
                {% endif %}
                {{ form_start(formView, {
                    "attr":{"action": formAction|default(app.request.getPathInfo() ~ "?locale=" ~ locale) }}) }}
            {% endif %}
            <div class="row">
            <div class="col-3 mt-4 mt-lg-0 pt-2 pt-lg-0">
                <div class="card border-0 sidebar sticky-bar rounded shadow bg-white">
                    <div class="card-body">
                        {% block btnExtra '' %}
                        {% if isTranslatable is defined and true == isTranslatable and languagesList is defined %}
                            <div class="widget mb-4 pb-2">
                                <h5 class="widget-title">{{ 'teknoo.space.text.admin_translation'|trans }}</h5>
                                <ul class="list-unstyled mb-0 mt-0">
                                    {% for iLocale in languagesList %}
                                        <li>
                                            <a class="btn {% if locale == iLocale %}btn-secondary{% else %}btn-soft-secondary{% endif %} btn-full-large btn-block mt-2"
                                               rel="noopener"
                                               href="{{ functions.updateQueryField('locale', iLocale) }}"
                                               title="{{ iLocale|capitalize }}">
                                                <i class="uil uil-book-medical"></i>
                                                {{ iLocale|capitalize }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                        <div class="widget">
                            <h5 class="widget-title">{{ 'teknoo.space.text.submit_block'|trans }}</h5>
                            {% block formButton %}
                                {% block addsFormButton '' %}
                                <button type="reset"
                                        class="btn btn-outline-light btn-full-large btn-block mb-2 text-left">
                                    <i class="uil uil-times-square"></i>
                                    {{ 'teknoo.space.action.admin_reset'|trans }}
                                </button>
                                <button type="submit"
                                        class="btn btn-primary btn-full-large btn-block mb-2"
                                        name="save">
                                    {% block btnSaveLabel %}<i class="uil uil-save"></i>
                                        {{ 'teknoo.space.action.save'|trans }}{% endblock %}
                                </button>
                                {% block addsFormButtonBottom '' %}
                            {% endblock %}
                        </div>
                        {% block btnExtraBottom '' %}
                    </div>
                </div>
            </div>{# end col #}
            <div class="col-9">
                <div class="row">
                    {% block blockExtra '' %}

                    <div class="col-12">
                        <div class="rounded shadow p-4 bg-white">
                            {% if objectSaved is defined and objectSaved is not empty %}
                                {% block alertFormSuccess %}
                                    <div class="alert bg-soft-success fw-medium space-form-success" role="alert">
                                        <i class="uil uil-check-circle fs-5 align-middle me-1"></i>
                                        {{ 'teknoo.space.alert.data_saved'|trans }}
                                    </div>
                                {% endblock %}
                            {% endif %}
                            {% if formView is defined %}
                                {{ form_errors(formView) }}
                            {% endif %}
                            {% block crudFormFields '' %}
                        </div>
                    </div>{# end col #}

                    {% block crudSecondaryForm '' %}
                </div>
            </div>
            </div>{# end row #}
            {% if formView is defined %}
                {{ form_end(formView) }}
            {% endif %}
        {% endblock %}{# formParentBlock #}
    </div>
{% endblock %}{# containerFluidInner #}
