{# templates/bundles/TeknooEastCommonBundle/views/AdminMedia/list.html.twig #}

{% extends '@TeknooEastPaas/dashboard.list.html.twig' %}

{% set formClass = 'Teknoo\\Space\\Infrastructures\\Symfony\\Form\\Type\\Search\\MediaSearchType' %}

{% import '@TeknooEastPaas/Functions/utils.html.twig' as utils %}

{% block listTitle %}<i class="uil uil-image-download"></i> {{ 'teknoo.space.title.admin_media'|trans }}{% endblock %}
{% block listTitleInBreadCrumb %}{{ 'teknoo.space.title.admin_media'|trans }}{% endblock %}
{% block listLink %}{{ path('_teknoo_common_admin_media_list') }}{% endblock %}

{% block topHeaderButton %}
    <li class="list-inline-item mb-0 ms-1">
        <a rel="noopener" class="btn btn-outline-light" href="{{ path('_teknoo_common_admin_media_new') }}" title="{{ 'teknoo.space.text.admin_create_media'|trans }}">
            <i class="uil uil-book-medical"></i>
            {{ 'teknoo.space.action.new_media'|trans }}
        </a>
    </li>
{% endblock %}

{% block listTableHeader %}
    <thead class="bg-light">
    <tr>
        <th scope="col" class="border-bottom text-start">#</th>
        <th scope="col" class="border-bottom"><a class="text-primary" href="{{ path('_teknoo_common_admin_media_list') }}{{ utils.orderUrl(queryParams, 'name') }}">{{ 'teknoo.space.text.admin_cols_media_name'|trans }}</a></th>
        <th scope="col" class="border-bottom">{{ 'teknoo.space.text.admin_cols_media_alternative'|trans }}</th>
        <th scope="col" class="border-bottom">{{ 'teknoo.space.text.admin_cols_media_mime'|trans }}</th>
        <th scope="col" class="border-bottom">{{ 'teknoo.space.text.admin_cols_media_image'|trans }}</th>
        <th scope="col" class="border-bottom text-end">{{ 'teknoo.space.text.admin_cols_media_action'|trans }}</th>
    </tr>
    </thead>
{% endblock %}

{% block listTableEmpty %}
    <tr>
        <td colspan="6">{{ 'teknoo.space.text.admin_media_no_entries'|trans }}</td>
    </tr>
{% endblock %}

{% block listTableRow %}
    <tr {% if loop.index is even %}class="table-row-even"{% else %}class="table-row-odd"{% endif %}>
        <td>{{ object.id|slice(0, 6) }}</td>
        <td>{% if object.metadata is not empty %}{{ object.metadata.fileName }}{% else %}{{ object.name }}{% endif %}</td>
        <td>{% if object.metadata is not empty %}{{ object.metadata.alternative }}{% endif %}</td>
        <td>{% if object.metadata is not empty %}{{ object.metadata.contentType }}{% endif %}</td>
        <td>
            {% if object.metadata is empty or 'application/pdf' != object.metadata.contentType %}
            <div class="d-flex">
                <img class="img-fluid avatar avatar-small me-2 rounded" src="{{ path('_teknoo_common_media', {'id':object.id}) }}" alt="{% if object.metadata is not empty %}{{ object.metadata.alternative }}{% endif %}"/>
            </div>
            {% endif %}
        </td>
        <td class="text-end">
            <a class="text-primary" href="{{  path('_teknoo_common_media', {'id':object.id}) }}" target="_blank" title="{{ 'teknoo.space.action.open_media'|trans }}"><span class="mdi mdi-folder-open"></span></a>
            <a class="text-primary" onclick="return confirm('{{ 'teknoo.space.text.confirm_delete'|trans }}');" href="{{  path('_teknoo_common_admin_media_delete', {'id':object.id}) }}" title="{{ 'teknoo.space.action.delete_media'|trans }}"><span class="mdi mdi-trash-can"></span></a>
        </td>
    </tr>
{% endblock %}
