{# templates/TeknooSpace/Job/new.html.twig #}

{% extends '@TeknooSpace/dashboard.form.html.twig' %}

{% block title %}{{ 'teknoo.space.title.job.new'|trans }} : {{ project }} - {% endblock %}

{%- block instanceMainTitle -%}
    <i class="uil uil-drill"></i> {{ 'teknoo.space.title.job.new'|trans }} : {{ project }}
{%- endblock -%}

{%- block breadcrumbListLink -%}
    {% if is_granted('ROLE_ADMIN') %}
        {{ path('_teknoo_paas_admin_project_list') }}
    {% else %}
        {{ path('space_project_list') }}
    {% endif %}
{%- endblock -%}
{% block breadcrumFormTitle %}{{ 'teknoo.space.title.job.new'|trans }}{% endblock %}
{% block breadcrumbAddsItems %}
    <li class="breadcrumb-item text-capitalize">
        <a href="{{ path('space_project_edit', {'id': project.id}) }}">{{ project }}</a>
    </li>
{% endblock %}
{% block breadcrumInstanceTitle %}{{ 'teknoo.space.title.job.new'|trans }}{% endblock %}

{% block crudFormFields %}
    {{ form_row(formView.projectId) }}
    {{ form_row(formView.newJobId) }}
    <div class="row">
        {{ form_row(formView.envName, {"largeRow": true}) }}
    </div>
    <div class="row subforms"
         data-subforms="variables"
         data-prototype="{{ form_widget(formView.variables.vars.prototype)|e('html_attr') }}">
        <div class="col-12">
            <h3>{{ 'teknoo.space.title.variables'|trans }}</h3>
        </div>
        {% for variable in formView.variables %}
            {{ form_widget(variable, {"largeRow": true}) }}
        {% endfor %}
    </div>
    {% do formView.variables.setRendered %}
{% endblock %}

{% block formButton %}
    <button type="button"
            data-subforms-id="variables"
            class="btn btn-soft-secondary btn-full-large btn-block btn-add-subform mb-2">
        <i class="uil uil-focus-add"></i>
        {{ 'teknoo.space.action.add_variable'|trans }}
    </button>
    <button type="reset" class="btn btn-soft-light btn-full-large btn-block mb-2 text-left">
        <i class="uil uil-times-square"></i>
        {{ 'teknoo.space.action.reset'|trans }}
    </button>
    <button type="submit" class="btn btn-soft-primary btn-full-large btn-block mb-2" name="save">
        <i class="uil uil-save"></i>
        {{ 'teknoo.space.action.run'|trans }}
    </button>
{% endblock %}
