{# templates/TeknooSpace/Project/new.html.twig #}

{% extends '@TeknooSpace/dashboard.form.html.twig' %}

{% block title %}{{ 'teknoo.space.title.project.project_variables'|trans }} : {{ objectInstance }} - {% endblock %}

{%- block instanceMainTitle -%}
    <i class="uil uil-drill"></i> {{ 'teknoo.space.title.project.project_variables'|trans }} : {{ objectInstance }}
{%- endblock -%}

{%- block breadcrumbListLink -%}
    {% if is_granted('ROLE_ADMIN') %}
        {{ path('_teknoo_paas_admin_project_list') }}
    {% else %}
        {{ path('space_project_list') }}
    {% endif %}
{%- endblock -%}
{% block breadcrumbFormTitle %}{{ 'teknoo.space.title.project.edit'|trans }}{% endblock %}
{% block breadcrumbAddsItems %}
    <li class="breadcrumb-item text-capitalize">
        {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('_teknoo_paas_admin_project_edit', {'id': objectInstance.id}) }}">{{ objectInstance }}</a>
        {% else %}
        <a href="{{ path('space_project_edit', {'id': objectInstance.id}) }}">{{ objectInstance }}</a>
        {% endif %}
    </li>
{% endblock %}
{% block breadcrumInstanceTitle %}{{ 'teknoo.space.title.project.variables'|trans }}{% endblock %}

{% block crudFormFields %}
    <div class="row subforms"
         data-subforms="sets"
         data-prototype="{{ form_widget(formView.sets.vars.prototype)|e('html_attr') }}"
         data-prototype-name="__env_name__">
        <div class="col-12">
            <h3>{{ 'teknoo.space.title.environments'|trans }}</h3>
        </div>
        {% for envSet in formView.sets %}
            {{ form_widget(envSet, {"largeRow": true}) }}
        {% endfor %}
    </div>
    {% do formView.sets.setRendered %}
{% endblock %}

{% block addsFormButton %}
    <button type="button"
            data-subforms-id="sets"
            class="btn btn-outline-secondary btn-full-large btn-add-subform mb-2">
        <i class="uil uil-focus-add"></i>
        {{ 'teknoo.space.action.add_environment'|trans }}
    </button>
{% endblock %}
