<nav id="sidebar" class="sidebar-wrapper sidebar-dark">
    <div class="sidebar-content" data-simplebar style="height: calc(100% - 60px);">
        <div class="sidebar-brand">
            <a href="{{ path('space_dashboard') }}">
                <img src="images/logo-dark.svg" height="24" class="logo-light-mode" alt="">
                <img src="images/logo-light.svg" height="24" class="logo-dark-mode" alt="">
                <span class="sidebar-colored">
                    <img src="images/logo-light.svg" height="24" alt="">
                </span>
            </a>
        </div>

        <ul class="sidebar-menu">
            <li><a href="{{ path('space_dashboard') }}"><i class="ti ti-home me-2"></i>{{ 'teknoo.space.action.dashboard'|trans }}</a></li>
            <li><a href="{{ path('space_my_settings') }}"><i class="ti ti-settings me-2"></i>{{ 'teknoo.space.action.my-settings'|trans }}</a></li>
            {% if space.account is defined and space.account is not empty %}
                <li><a href="{{ path('space_account_settings') }}"><i class="ti ti-settings me-2"></i>{{ 'teknoo.space.action.account-settings'|trans }}</a></li>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                <li class="sidebar-dropdown">
                    <a href="javascript:void(0)"><i class="ti ti-user me-2"></i>{{ 'teknoo.space.text.admin_users'|trans }}</a>
                    <div class="sidebar-submenu">
                        <ul>
                            <li><a href="{{ path('_teknoo_common_admin_user_list') }}">{{ 'teknoo.space.action.admin_users'|trans }}</a></li>
                            <li><a href="{{ path('_teknoo_paas_admin_account_list') }}">{{ 'teknoo.space.action.admin_accounts'|trans }}</a></li>
                            <li><a href="{{ path('space_admin_code_generator') }}">{{ 'teknoo.space.action.admin_code_generator'|trans }}</a></li>
                        </ul>
                    </div>
                </li>
                <li class="sidebar-dropdown">
                    <a href="javascript:void(0)"><i class="ti ti-apps me-2"></i>{{ 'teknoo.space.text.admin_projects'|trans }}</a>
                    <div class="sidebar-submenu">
                        <ul>
                            <li><a href="{{ path('_teknoo_paas_admin_project_list') }}">{{ 'teknoo.space.action.admin_projects'|trans }}</a></li>
                            <li><a href="{{ path('_teknoo_paas_admin_job_list') }}">{{ 'teknoo.space.action.admin_jobs'|trans }}</a></li>
                        </ul>
                    </div>
                </li>
                <li class="sidebar-dropdown">
                    <a href="javascript:void(0)"><i class="ti ti-file-info me-2"></i>{{ 'teknoo.space.text.admin_cms'|trans }}</a>
                    <div class="sidebar-submenu">
                        <ul>
                            <li><a href="{{ path('_teknoo_common_admin_media_list') }}">{{ 'teknoo.space.action.admin_media'|trans }}</a></li>
                        </ul>
                    </div>
                </li>
            {% else %}
                <li><a href="{{ path('space_project_list') }}"><i class="ti ti-home me-2"></i>{{ 'teknoo.space.action.projects'|trans }}</a></li>
            {% endif %}
        </ul>
        <!-- sidebar-menu  -->
    </div>
    {% if app.user is not empty %}
    <!-- Sidebar Footer -->
    <ul class="sidebar-footer sidebar-menu list-unstyled mb-2">
        <li>
            <a hreflang="{{ locale }}" href="{{ path('account_logout') }}"><i class="ti ti-logout me-2"></i>{{ 'teknoo.space.action.logout'|trans }}</a>
        </li>
    </ul>
    <!-- Sidebar Footer -->
    {% endif %}
</nav>