{# templates/bundles/TeknooEastPaasBundle/AdminJob/list.html.twig #}

{% extends '@TeknooSpace/dashboard.list.html.twig' %}

{% set formClass = 'Teknoo\\Space\\Infrastructures\\Symfony\\Form\\Type\\Search\\JobSearchType' %}

{% import '@TeknooSpace/Functions/utils.html.twig' as utils %}

{% block title %}{{ 'teknoo.space.title.admin_job'|trans }} - {% endblock %}

{% block listTitle %}<i class="uil uil-drill"></i> {{ 'teknoo.space.title.admin_job'|trans }}{% endblock %}

{% block breadcrumbListLink %}{{ path('_teknoo_paas_admin_job_list') }}{% endblock %}
{% block breadcrumbListTitle %}{{ 'teknoo.space.title.admin_job'|trans }}{% endblock %}

{% block listTableHeader %}
    <thead class="bg-light">
    <tr>
        <th scope="col" class="border-bottom text-start">#</th>
        <th scope="col" class="border-bottom"><a class="text-primary" href="{{ path('_teknoo_paas_admin_job_list') }}{{ utils.orderUrl(queryParams, 'project') }}">{{ 'teknoo.space.text.admin_cols_job_project'|trans }}</a></th>
        <th scope="col" class="border-bottom"><a class="text-primary" href="{{ path('_teknoo_paas_admin_job_list') }}{{ utils.orderUrl(queryParams, 'updatedAt') }}">{{ 'teknoo.space.text.admin_cols_job_updated_at'|trans }}</a></th>
        <th scope="col" class="border-bottom text-end">{{ 'teknoo.space.text.admin_cols_job_action'|trans }}</th>
    </tr>
    </thead>
{% endblock %}

{% block listTableEmpty %}
    <tr>
        <td colspan="4">{{ 'teknoo.space.text.admin_job_no_entries'|trans }}</td>
    </tr>
{% endblock %}

{% block listTableRow %}
    <tr {% if loop.index is even %}class="table-row-even"{% else %}class="table-row-odd"{% endif %}>
        <td>{{ object.id|slice(0, 10) }}</td>
        <td>{{ object.project }}<br/>{% if object.project is not empty %}{{ object.project.account }}{% endif %}</td>
        <td>{{ object.updatedAt|date('Y M d H:i:s') }}</td>
        <td class="text-end">
            {% if object.project is not empty %}
            <a class="text-primary" href="{{ path('_teknoo_paas_admin_project_edit', {'id':object.project.id}) }}" title="{{ 'teknoo.space.action.edit_project_from_job'|trans }}"><span class="mdi mdi-pencil"></span></a>
            {% endif %}
            <a class="text-primary" href="{{ path('space_admin_get_job', {'id':object.id}) }}" title="{{ 'teknoo.space.action.view_job'|trans }}"><span class="mdi mdi-card-search"></span></a>
            <a class="text-primary" onclick="confirm('{{ 'teknoo.space.text.confirm_delete'|trans }}');" href="{{ path('_teknoo_paas_admin_job_delete', {'id':object.id}) }}" title="{{ 'teknoo.space.action.delete_job'|trans }}"><span class="mdi mdi-trash-can"></span></a>
        </td>
    </tr>
{% endblock %}

{% block menuJobsClass ' active' %}
